body
{
	background: #e9f0f5 url(../images/print.png) repeat top left;
	font-family: 'Eras Light ITC';
}

.datagrid a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
}

a{
	text-decoration: none;
}

h1,h2
{
	margin: 0 0 0 240px;
}

img
{

	padding:10px;
}

table 
{
	background-color: #fff;
	box-shadow: 0px 3px 8px -1px;

}

table th
{

	font-size: 20px;
	font-weight: bold;

}

table td
{

	padding-right: 50px;
}

.hs-menu{
	position: fixed;
	background: #333333;
	width: 200px;
	left: 0px;
	top: 0px;
	height: 100%;
	box-shadow: rgba(0,0,0,0.4) 10px 10px 0 10px;
}
.hs-menu nav{
	position: absolute;
	top: 250px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	font-family: 'Eras Light ITC';
}
.hs-menu nav a{
	display: block;
	padding: 10px 20px;
	text-align: center;
	outline: none;
	border-top: 1px solid rgba(126, 126, 126, 0.2);
	text-decoration: none;
	text-transform: uppercase;
	color: #8EBBFF;
	letter-spacing: 2px;
}

.hs-menu nav a:last-child{

	border-bottom: 1px solid rgba(126, 126, 126, 0.2);
}



.hs-menu nav a:hover{
	box-shadow: rgba(0,0,0,0.4) 20px 0 0px 0px;
}

.content
{
	margin: 0 0 0 240px;
}
